<aside class="ACarOn">
   <div class="TxACar">
        <h1>Car</h1>
   </div> 
   <div class="AGalleryP">
        <ng-container >
            <ng-container >
                <div class="MCardDP">
                    <div class="CountDP">1</div>
                    <div class="NameDP"></div>
                    <button>Comprar</button>
                </div>
            </ng-container>
        </ng-container>
   </div>
   <div class="ACT">
    <div class="ACTInfo">Se agrega el total de los precios</div>
    <button class="ABtC">Comprar</button>
   </div>
</aside>