<section class="Categories">
    <div class="CTop">
        <h1 class="TxCTop">Colecciones</h1>
        <div class="PopCTop">
           <div class="MaPopCTop"></div> 
           <div class="MiPopCTop">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
           </div>
        </div>
    </div>
    <div class="CBot">
        <h1 class="TxCBot">Categorias populares</h1>
        <div class="PopCBot">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>