<section class="Shop" id="Shop">
    <div class="CTextS">
        <h1 class="TxS">Store</h1>
    </div>
    <div class="CGalleryPS">
        <aside class="SFilterS">
            <div class="CFilterPS"></div>
            <div class="FilterPS"></div>
        </aside>
        <section class="GalleryPS">
            <ng-container >
                <div class="CardS">
                    <img (click)="clickButonIP()" src="" alt="" class="ImgGS">
                    <div class="InfoCS">
                        <h1>Producto 1</h1>
                        <h2>Precio</h2>
                    </div>
                    <button>Agregar</button>
                </div>
            </ng-container>
        </section>
    </div>
</section>