<section class="SC">
    <div class="CSComponents">
        <input type="text" class="InpSX">
        <input type="submit" class="BtSX">
    </div>
    <div class="CSCards">
        <ng-container >
            <div class="CardSX">
                <img src="#" alt="" class="CardImgSX">
                <div class="CICardSX">
                    <h3 class="NameCSX">Producto1</h3>
                    <h4 class="PrecioCSX">Precio 1</h4>
                </div>
                <button>Agregar</button>
            </div>
        </ng-container>
    </div>
</section>