<section class="Head" id="Head">
    <section class="IProduct">
        <div class="GalleryPH">
            <ng-container *ngFor="let ele of (this.dataList|async)">
                <div (click)="clickImg(ele.id)"></div>
            </ng-container>
        </div>
        <div class="CIP">
            <div class="InfoPH">
                Informacion del producto productos
            </div>
            <div class="CBt">
                <button>Agregar</button>
            </div>
        </div>
    </section>
    <div class="CImagen"></div>
</section>