<section class="{{this.classOn}}">
    <div class="VImg">
        <img src="#" alt="">
    </div>
    <section class="VInfo">
        <div class="TxVInfo">
            <h1>Producto 1</h1>
            <h2>Precio 1</h2>
        </div>
        <div class="DescVInfo">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis unde eveniet, veniam, nesciunt dolor dolore itaque voluptatum aperiam similique dolores aliquam nemo suscipit accusantium? Aspernatur consequuntur sit nobis soluta in!
            </p>
        </div>
        <button class="VBt">Comprar</button>
    </section>
    <div (click)="closeClick()" class="Close">X</div>
</section>